<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In | Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
        integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/output.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>

<body class="bg-gray-900 text-gray-200">
    <div class="min-h-screen flex flex-col justify-start items-center pt-10 pb-28 px-5">
        <h1 class="text-3xl font-bold mb-8 text-slate-200">Log In | Authentication</h1>

        <!-- Form -->
        <form action="/signin" method="POST" class="w-full max-w-lg">
            <div class="mb-6">
                <label for="email" class="block mb-2">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email"
                    class="w-full px-3 py-2 bg-gray-800 rounded-md focus:outline-none focus:ring focus:ring-blue-500 text-gray-200"
                    required>
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-2">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password"
                    class="w-full px-3 py-2 bg-gray-800 rounded-md focus:outline-none focus:ring focus:ring-blue-500 text-gray-200"
                    required>
            </div>
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-white font-semibold">Log In</button>
        </form>
        <a href="/reset-password" class="text-blue-500 mt-4 w-full">Forgot Password?</a>
        <p class="text-base text-slate-200 font-semibold mt-10 w-full">Don't have an account! <a href="/signup"
                class="text-blue-500">Sign Up</a></p>
    </div>
</body>

</html>